<h2 class="animated fadeIn fast">Traspaso de Pagos</h2>
<hr>
<form (ngSubmit)="obsConsultaDocs()">
    <div class="form-row">

        <div class="col" style="max-width: 200px ;">
            <input class="form-control" type="date" name="fechaDesde" [(ngModel)]="fechaDesde" placeholder="Fecha desde">
        </div>
        <div class="col" style="max-width: 200px ;">
            <input class="form-control" type="date" name="fechaHasta" [(ngModel)]="fechaHasta" placeholder="Fecha hasta">
        </div>
        <div class="btn-group" role="group">
            <div class="col" style="max-width: 85px ;">
                <button type="submit" class="btn btn-outline-danger mb-2" tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Buscar</button>
            </div>
            <div class="col" style="max-width: 85px ;" *ngIf="documentos.length > 0">
                <button type="button" class="btn btn-outline-danger mb-2" (click)="marcarTodos()">Marcar</button>
            </div>
            <div class="col" style="max-width: 100px ;" *ngIf="documentos.length > 0">
                <button type="button" class="btn btn-outline-danger mb-2" (click)="trasladarMarcados()" *ngIf="documentos.length > 0">Traspasar</button>
            </div>
        </div>
    </div>
</form>

<div class="progress" style="height: 8px;" *ngIf=" cargando ">
    <div class="progress-bar progress-bar-striped  progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<table class="table table-striped table-hover table-sm">
    <thead>
        <tr translate="no">
            <th scope="col">T?</th>
            <th scope="col">Tipo.Pago</th>
            <th scope="col">Local</th>
            <th scope="col">Emisión</th>
            <th scope="col">Monto</th>
            <th scope="col">Cliente</th>
        </tr>
    </thead>
    <tbody translate="no" *ngIf=" documentos.length > 0 ">
        <ng-container *ngFor="let data of documentos">
            <tr>
                <td scope="row" style="text-align: center;">
                    <div [ngClass]="{ 'bg-success': data.traspasado }">
                        <input type="checkbox" name="data.marcado" [(ngModel)]="data.marcado">
                    </div>
                </td>
                <td style="max-width: 120px;">
                    <span class="badge badge-pill badge-danger">{{ data.tipoDoc }} - {{ data.tipoDesc }}</span>
                    <!--                     
                    <br>
                    <span *ngIf=" data.codeSii === '61' " class="badge badge-pill badge-danger">{{ data.dfolio }}</span>
                    <span *ngIf=" data.codeSii === '33' || data.codeSii === '34' || data.codeSii === '56' " class="badge badge-pill badge-primary">{{ data.dfolio }}</span>
                    <span *ngIf=" data.codeSii === '33' " class="badge badge-pill badge-primary">{{ data.dfolio }}</span>
                    <span *ngIf=" data.codeSii === '39' || data.codeSii === '35' || data.codeSii === '41' " class="badge badge-pill badge-secondary">{{ data.dfolio }}</span>
                    <span *ngIf=" data.codeSii === '52' " class="badge badge-pill badge-warning">{{ data.dfolio }}</span>
                    <p>{{ data.dnombreDoc }}</p> -->

                </td>
                <td>{{data.local }}</td>
                <td>{{data.emision | date:"dd-MM-yyyy" }}</td>
                <td>{{data.monto | number:"1.0-0"}}</td>
                <td>{{data.clienteNomb }}</td>
            </tr>
        </ng-container>
    </tbody>
</table>