<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-faded">

    <a class="navbar-brand" href="#"><img src="assets/img/logo-bbc.png" width="30" height="30" alt=""></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- active -->
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link" [routerLink]="['home']">Inico</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['docs']">Documentos</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['stxl']">Stock x Local</a>
            </li>
        </ul>
    </div>
</nav>