:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    table.data-table {
        table-layout: auto;
        height: 660px;
        width: auto;
        thead tr {
            display: block;
            width: 100%;
        }
        tbody {
            display: block;
            overflow: auto;
            height: 100%;
            width: 100%;
        }
        // folio
        th:nth-child(1),
        td:nth-child(1) {
            width: 50px;
            text-align: center;
        }
        // folio
        th:nth-child(2),
        td:nth-child(2) {
            width: 135px;
            text-align: right;
        }
        // emision
        th:nth-child(3),
        td:nth-child(3) {
            width: 150px;
            text-align: center;
        }
        // vencim
        th:nth-child(4),
        td:nth-child(4) {
          width: 150px;
          text-align: center;
        }
        // monto
        th:nth-child(5),
        td:nth-child(5) {
          width: 150px;
          text-align: right;
        }
        // cliente
        th:nth-child(6),
        td:nth-child(6) {
          width: 250px;
          text-align: right;
        }
        // detalle
        th:nth-child(7),
        td:nth-child(7) {
            width: 200px;
            text-align: center;
        }

        td table.detail {
          height: auto;
          width: 100%;
          thead tr {
            display: block;
            width: 100%;
          }
          tbody {
              display: block;
              width: 100%;
          }
          // codigo
          th:nth-child(1),
          td:nth-child(1) {
              width: 100px;
              text-align: right;
          }
          // cantidad
          th:nth-child(2),
          td:nth-child(2) {
              width: 150px;
              text-align: right;
          }
          // monto
          th:nth-child(3),
          td:nth-child(3) {
              width: 150px;
              text-align: right;
          }
          // descripcion
          th:nth-child(4),
          td:nth-child(4) {
            width: 70%;
            text-align: left;
          }
        }

    }
}
